[% IF error == "password_change_requests_use_kpasswd" %]
  [% title = "Use kpasswd to reset password" %]
  Use FreeBSD Cluster's Kerberos system to reset password.
  For detailed instruction
  <a href="https://www.freebsd.org/doc/en_US.ISO8859-1/articles/committers-guide/kerberos-ldap.html">follow this link</a>.
[% END %]
